//
//    Copyright 2012 Sebastien Maccagnoni-Munch
//
//    This file is part of OSPFM-web.
//
//    OSPFM-web is free software: you can redistribute it and/or modify
//    it under the terms of the GNU Affero General Public License as published
//    by the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.
//
//    OSPFM-web is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU Affero General Public License for more details.
//
//    You should have received a copy of the GNU Affero General Public License
//    along with OSPFM-web.  If not, see <http://www.gnu.org/licenses/>.

input, select {
    font-size: 100%;
}
label, select {
    cursor: pointer;
}
label {
    margin-right: 10px;
}

input.wrong {
    background: #fcc;
}

/* Glowing blue */
input {
    border:{
        top: 1px solid #f0fbff;
        left: 1px solid #f0fbff;
        right: 1px solid #f0fbff;
        bottom: 1px dotted #51cbee;
    }
    background: #f0fbff;
    transition: box-shadow,border 300ms ease-in-out;
    outline: none;
}

select {
    border:{
        top: 1px solid #f0fbff;
        left: 1px solid #f0fbff;
        right: 1px solid #f0fbff;
        bottom: 1px dotted #51cbee;
    }
    transition: box-shadow,border 300ms ease-in-out;
    background: #f0fbff;
    outline: none;
}
input:focus, select:focus {
    box-shadow: 0 0 5px #51cbee;
    border: 1px solid #51cbee;
}
