//
//    Copyright 2012 Sebastien Maccagnoni-Munch
//
//    This file is part of OSPFM-web.
//
//    OSPFM-web is free software: you can redistribute it and/or modify
//    it under the terms of the GNU Affero General Public License as published
//    by the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.
//
//    OSPFM-web is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU Affero General Public License for more details.
//
//    You should have received a copy of the GNU Affero General Public License
//    along with OSPFM-web.  If not, see <http://www.gnu.org/licenses/>.

@mixin h1title {
    color: #008;
    border-bottom: 1px solid #88f;
    text-shadow: #88f 0 1px 1px;
    text-align: center;
    padding-bottom: .2em;
}

div#dialogcontent h1 {
    @include h1title;
}
div#maincontent h1 {
    @include h1title;
    font-size: 28px;
    margin: 5px 5% 20px 5%;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    color: #008;
    font-weight: bold;
    margin: 15px 0 10px 0;
    text-align: center;
    text-shadow: #88f 0 1px 1px;
}
