//
//    Copyright 2012-2013 Sebastien Maccagnoni-Munch
//
//    This file is part of OSPFM-web.
//
//    OSPFM-web is free software: you can redistribute it and/or modify
//    it under the terms of the GNU Affero General Public License as published
//    by the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.
//
//    OSPFM-web is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU Affero General Public License for more details.
//
//    You should have received a copy of the GNU Affero General Public License
//    along with OSPFM-web.  If not, see <http://www.gnu.org/licenses/>.

div#tooltip {
    z-index: 99;
    // Position before displaying the tooltip
    position: fixed;
    left: -10000px;
}


div#popup, div#spinner {
    position: fixed;
    z-index: 30;
}

/*



////////// Tabs

div.tabs > ul {
    padding: 0 5px 2px 5px;
    border-bottom: 1px solid #999;
    margin: 7px 0 10px 0;
    li {
        display: inline;
        list-style-type: none;
        margin: 0 2px 0 2px;
        border-left: 1px solid #999;
        border-top: 1px solid #999;
        border-right: 1px solid #999;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 5px;
        text-shadow: #999 0 1px 1px;
        cursor: pointer;
        white-space: nowrap;
        transition-property: background, color;
        transition-duration: 500ms;
        &:hover {
            text-decoration: none;
            background: #ddf;
        }
    }
    li.activetab {
        background: #ffc;
        color: #008;
    }
}
*/
