//
//    Copyright 2012 Sebastien Maccagnoni-Munch
//
//    This file is part of OSPFM-web.
//
//    OSPFM-web is free software: you can redistribute it and/or modify
//    it under the terms of the GNU Affero General Public License as published
//    by the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.
//
//    OSPFM-web is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU Affero General Public License for more details.
//
//    You should have received a copy of the GNU Affero General Public License
//    along with OSPFM-web.  If not, see <http://www.gnu.org/licenses/>.


div.editobjects {
    display: table;

    div.titlerow {
        padding-bottom: 3px;
        font-size: 90%;
        span.editcell {
            text-align: center !important;
        }
    }

    div.editrow, div.addrow {
        border-top: 1px solid #999;
        span.editcell{
            white-space: nowrap;
            overflow: hidden;
        }
    }

    span.editcell, span.buttonscell {
        display: inline-block;
        margin: 0 5px;
    }
    span.editcell input, span.editcell select {
        width: 100%;
    }
    span.editcell {
        &.comment { width: 150px; }
        &.currency { width: 150px; }
        &.emailaddress { width: 200px; }
        &.fullname { width: 200px; }
        &.name { width: 150px; }
        &.rate { width: 150px; text-align: right; }
        &.start_balance { width: 100px; text-align: right; }
        &.symbol { width: 80px; }
    }

    &.categories span.editcell.name { width: 250px; }

    span.recursivehandle { cursor: move; }
    span.inactivehandle { color: #ccc; }

    div.dragging div.editrow {
        border-top: 0;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    div.dragging span.buttonscell {
        visibility: hidden;
    }

    div.droppable-allow {
        background-color: #00c400;
    }

    div.roottarget {
        padding: 5px 0;
    }

    input, select {
        width: 250px;
    }
}
