//
//    Copyright 2012-2013 Sebastien Maccagnoni-Munch
//
//    This file is part of OSPFM-web.
//
//    OSPFM-web is free software: you can redistribute it and/or modify
//    it under the terms of the GNU Affero General Public License as published
//    by the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.
//
//    OSPFM-web is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU Affero General Public License for more details.
//
//    You should have received a copy of the GNU Affero General Public License
//    along with OSPFM-web.  If not, see <http://www.gnu.org/licenses/>.



img#applogo {
    position: absolute;
    padding-bottom: 5px;
    border-bottom: #999 1px solid;
    cursor: pointer;
    @media (min-width:1025px) {
        width: 200px;
        top: 10px;
        left: 10px;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        width: 160px;
        top: 5px;
        left: 5px;
    }
    @media (max-width: 768px) {
        display: none;
    }
}



div#userinfo {
    position: absolute;
    @media (min-width:1025px) {
        right: 10px;
        top:10px;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        right: 5px;
        top:5px;
    }
    @media (max-width: 768px) {
        right:3px;
        top:2px;
    }
}



div#maincontainer {
    position: absolute;
    left: 0;
    width: 100%;
    @media (min-width:1025px) {
        top: 53px;
        padding: 0 10px 0 230px;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        top: 43px;
        padding: 0 10px 0 180px;
    }
    @media (max-width: 768px) {
        top: 38px;
        padding: 0 5px 0 5px;
    }
}



div#maincontent {
    background: #fff;
    box-shadow: #777 1px 1px 5px, #ccc 0 0 20px inset;
    border:1px solid #aaa;
    color: #111;
    overflow: auto;
    padding: 15px;
}



span#displayusername {
    margin-right: 5px;
    color: #444;
    text-shadow: #fff 0 1px 1px;
    @media (min-width:1025px) {
        span.nickonly {
            display: none;
        }
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        span.fullname {
            display: none;
        }
    }
    @media (max-width: 768px) {
        display: none;
    }
}



div#widgets {
    @media (max-width: 768px) {
        position: absolute;
        left: 0px;
        top: 7px;
    }
/*
    @media (min-width: 321px) and (max-width: 768px) {
        top: 7px;
    }
    @media (max-width: 320px) {
        top: 40px;
    }
*/
}



ul#topwidgets {
    @media (min-width:1025px) {
        left: 228px;
        top: 18px;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        left: 188px;
        top:13px;
    }
    @media (min-width: 769px) {
        position: absolute;
    }
    @media (max-width: 768px) {
        display: inline;
    }
}



div#sidebar {
    @media (min-width:1025px) {
        top: 67px;
        width: 226px;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        top: 57px;
        width: 179px;
    }
    @media (min-width: 769px) {
        position: absolute;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 9;
    }
    @media (max-width: 768px) {
        display: inline;
    }

}



ul#sidewidgets {
    @media (max-width: 768px) {
        display: inline;
    }
}



@media (max-width: 480px) {
    .notsmall {
        display: none;
    }
}
@media (min-width: 481px) {
    .onlysmall {
        display: none;
    }
}



div.bottombuttons {
    border-top: 1px solid #999;
    padding-top: 5px;
    text-align: center;
    padding-bottom: 5px;
}

div#authentication div.error {
    text-align: center;
}
