//
//    Copyright 2012-2013 Sebastien Maccagnoni-Munch
//
//    This file is part of OSPFM-web.
//
//    OSPFM-web is free software: you can redistribute it and/or modify
//    it under the terms of the GNU Affero General Public License as published
//    by the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.
//
//    OSPFM-web is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU Affero General Public License for more details.
//
//    You should have received a copy of the GNU Affero General Public License
//    along with OSPFM-web.  If not, see <http://www.gnu.org/licenses/>.

div#wizard label {
    display: block;
}
div#wizard input[type=text], div#wizard select {
    display: block;
}

div#wizard input[type=radio] {
    margin-right: 0.5em;
}

div#wizard td:first-child {
    text-align: right;
    white-space: nowrap;
}

div#wizard p.wizardname {
    font-weight: bold;
}

div#wizard p.description {
    font-size: 90%;
    color: #555;
}
