{#
    Copyright 2012 Sebastien Maccagnoni-Munch

    This file is part of OSPFM-web.

    OSPFM-web is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    OSPFM-web is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with OSPFM-web.  If not, see <http://www.gnu.org/licenses/>.

#}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">gui_url='{{ gui_url }}',api_url='{{ api_url }}',content_url='{{ content_url }}',locales_url='{{ locales_url }}',logout_url='{{ logout_url }}',help_url='{{ help_url }}',scripts_url='{{ scripts_url }}',app_name='{{ app_name }}'</script>
    <link rel="stylesheet" type="text/css" href="/static/ospfm-web.css" />
    <script type="text/javascript" src="{{ scripts_url }}right.js"></script>
    <script type="text/javascript" src="{{ scripts_url }}right-sortable.js"></script>
    <script type="text/javascript" src="{{ scripts_url }}right-dnd.js"></script>
    <script type="text/javascript" src="{{ scripts_url }}right-calendar.js"></script>
    <script type="text/javascript" src="{{ scripts_url }}right-autocompleter.js"></script>
    <script type="text/javascript" src="{{ scripts_url }}prefixfree.min.js"></script>
    <script type="text/javascript" src="{{ scripts_url }}ospfm-web.js"></script>
    <title>{{ app_name }}</title>
</head>
<body>
    <img id="applogo" src="/static/evercountlogo-alpha.png" />
    <div id="userinfo"></div>
    <div id="widgets">
        <div id="sidebar">
            <ul id="sidewidgets"></ul>
        </div>
        <ul id="topwidgets"></ul>
    </div>
    <div id="maincontainer">
        <div id="maincontent"></div>
    </div>
    <div id="dialog">
        <div id="dialogshadow"></div>
        <div id="dialogwindow">
            <div id="dialogcontent">
                {# XXX Maybe replace with an icon from the icons font #}
                <img width="16" height="16" src="/static/loading.gif" />
                <span id="loadingdialogtext">Loading...</span>
            </div>
            <div id="dialogbuttons" class="bottombuttons" style="display:none">
            </div>
        </div>
    </div>
    <div id="popup" style="display:none"></div>
    <div id="tooltip"></div>
    <div id="spinner" style="display:none">Loading...</div>
</body>
</html>
